.container {
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

div.link {
  position: fixed;
  top: 20px;
  right: 10px;
}

a.search {
  color: rgb(0, 0, 50);
  font-size: 15px;
  text-decoration: none;
  margin: 20px;
}

a.search:hover {
  text-decoration: underline;
}
.input1 {
  border-radius: 25px;
  width: 600px;
  height: 40px;
  border-style: solid;
  border-color: rgb(224, 223, 223);
}
.input1 {
  outline: none;
}

.button {
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin: 10px;
  padding: 0;
  border: none;
  background: none;
  background-color: rgb(240, 240, 240);
}
.button:hover {
  border: 1px solid #b6b5b5;
}
.form {
  text-align: center;
}

#gimage2 > img {
  width: 350px;
  padding-bottom: 30px;
}
